<%- include ("partials/header") -%>

<h1>About</h1>
<p>This is bloging website for hackers to post there bug bounty writeups, managed by rashahacks. Send your writeups to
    post here</p>
<ul>
    <li>
        Ethical Hacker
    </li>
    <li>
        Bug Bounty Hunter
    </li>
    <li>
        CTF Player
    </li>
    <li>
        Programmer
    </li>
    <li>
        Android Security
    </li>
    <li>
        Automation
    </li>
    <li>
        Attack Surface Management<br>
    </li>
</ul>

<h3>Contact us for Web Security Testing for your company or to teamup on a project.</h3>

<%- include("partials/footer") -%>